---
import SectionTitle from '../global/SectionTitle.astro';
import ConceptSlider from '../global/ConceptSlider.astro';
---

<section class="explore-slider">
  <div class="container">
    <SectionTitle />
    <ConceptSlider />
  </div>
</section>
