---
import circleText from '../../assets/icons/circle-text.svg';
import centerIcon from '../../assets/icons/center-icon.svg';
---

<div class="anim_crcle">
    <div class="circle-text">
        <img src={circleText.src} width="145" height="145" alt="" aria-hidden="true" loading="eager" decoding="async" />
    </div>

    <div class="center-icon">
      <img src={centerIcon.src} width="26" height="55" alt="" aria-hidden="true" loading="eager" decoding="async" />
    </div>
</div>