---

---

<header class="site-header">
  <div class="header-inner">
    <a href="/" aria-label="Kevin Focke – home" class="logo">
      <span>Kevin Focke [fˈa͡ʊlki]</span>
    </a>
  </div>
</header>
